@media (max-width : 1180px){
  .text_container{
    font-size: 7rem;
  }
}

@media (max-width : 1034px){
  .text_container{
    font-size: 6rem;
  }
}

@media (max-width : 880px){
  .text_container{
    font-size: 5rem;
  }

  .rotate_img{
    width: 51px;
    height: 51px;
  }
 
  #time img{
    width: 50px;
  }
  

}

@media (max-width : 740px){
  .text_container{
    font-size: 4.5rem;
  }
}

@media (max-width : 665px){
  .text_container{
    font-size: 4rem;
  }
}

@media (max-width : 590px){
  .text_container{
    font-size: 3.5rem;
  }
  .time_container p{
    font-size: 2rem;
  }
}

@media (max-width : 520px){
  .text_container{
    font-size: 3rem;
  }
  
}

@media (max-width : 450px){
  .text_container{
    font-size: 2.5rem;
  }
  #rotate img{
    width: 50px; 
  }
  .time_container p{
    font-size: 1.5rem;
  }
}

@media (max-width : 365px){
  .text_container{
    font-size: 2.3rem;
  }
}

@media (max-width : 335px){
  .text_container{
    font-size: 2rem;
  }
  .time_container p{
    font-size: 1.2rem;
  }
}
@media (max-width : 300px){
  .text_container{
    font-size: 1.5rem;
  }
  .time_container p{
    font-size: 1rem;
  }
}